:root {
  --main-bg-color: rgb(13, 106, 129);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background: var(--main-bg-color);
}

.v-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
}

.h-container{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 100%;
  background: black;
}

.header{
  text-align: center;
  vertical-align: middle;
  padding: 0 10px 10px 10px;
  background: var(--main-bg-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chessboard-style{
  width: 100%;
  margin: 2rem auto;
}

.info-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.new-game-buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
}

hr {
  width: 50%;
  margin: 0.5rem 0;
  color: white;
}

.skill-slider {
  appearance: none;
  -webkit-appearance: none;
  width: 200px;
  height: 6px; /* track height */
  background: lightgray;
  border-radius: 3px;
}

/* Track */
.skill-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: lightgray;
  border-radius: 3px;
}

/* Thumb */
.skill-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* remove default styling */
  width: 16px;
  height: 16px;
  background: var(--main-bg-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; /* centers thumb on track */
}