:root {
  --main-bg-color: rgb(13, 106, 129);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg-color);
}

.v-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
}

.header {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

@media (max-width: 600px) {
  .header {
    font-size: 20px;
  }
}

.h-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 100%;
  background: black;
}

@media (max-width: 600px) {
  .h-container {
    grid-template-columns: none;
    grid-template-rows: 0% 65% 35%;
  }
}

.h-container > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chessboard-style {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  padding-bottom: 10px;
}

.info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.new-game-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.new-game-buttons button {
  height: 100%;
  padding: 5px 10px;
  background-color: var(--main-bg-color);
}

hr {
  width: 50%;
  margin: 0.5rem 0;
  color: white;
}

.skill-slider {
  appearance: none;
  -webkit-appearance: none;
  width: min(80%, 200px);
  height: 6px;
  background: lightgray;
  border-radius: 3px;
}

/* Track */
.skill-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: lightgray;
  border-radius: 3px;
}

/* Thumb */
.skill-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* remove default styling */
  width: 16px;
  height: 16px;
  background: var(--main-bg-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; /* centers thumb on track */
}
