:root {
  --main-bg-colour: rgb(118, 150, 86);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

#root{
  width: 100%;
  height: 100%;
}

.v-container {
  display: grid;
  grid-template-rows: 1fr 9fr;
  width: 100%;
  height: 100%;
  background: black;
}

@media (max-width: 800px) {
  .v-container {
    height: auto;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  padding: 10px;
}

@media (max-width: 800px) {
  .header {
    font-size: 20px;
  }
}

.h-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 8fr 4fr;
  min-height: 0;
}

@media (min-width: 1200px) {
  .h-container {
    grid-template-rows: none;
    grid-template-columns: 4fr 8fr 4fr;
  }
}

@media (max-width: 800px) {
  .h-container {
    grid-template-columns: none;
    grid-template-rows: 0fr auto 1fr;
  }
}

.chessboard-style {
  min-height: 0;
  max-height: 95%;
  aspect-ratio: 1/1;
}

@media (max-width: 800px) {
  .chessboard-style {
    max-height: 100%;
  }
}

.info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
}

@media (max-width: 800px) {
  .info-panel {
    justify-content: start;
    margin-top: 20px;
  }
}

.new-game-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

.new-game-buttons button {
  height: 100%;
  padding: 5px 10px;
  color: white;
  background-color: var(--main-bg-colour);
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

 .new-game-buttons button:active {
  transform: scale(0.95);
  border-color: white;
}

@media (hover: hover) and (pointer: fine) {
  .new-game-buttons button:hover {
    border-color: white;
  }
}

hr {
  width: 100%;
  margin: 0rem 0;
  color: white;
}

.skill-slider {
  appearance: none;
  -webkit-appearance: none;
  width: min(80%, 200px);
  height: 6px;
  background: lightgray;
  border-radius: 3px;
}

/* Track */
.skill-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: lightgray;
  border-radius: 3px;
}

/* Thumb */
.skill-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* remove default styling */
  width: 16px;
  height: 16px;
  background: var(--main-bg-colour);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; /* centers thumb on track */
}
